# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="robbyrussell"

# ...existing code...
source $ZSH/oh-my-zsh.sh

plugins=(git)

export PATH="$HOME/.local/bin:$HOME/bin:$PATH:"

. "$HOME/.atuin/bin/env"

# load optional plugins if available
command -v zoxide >/dev/null 2>&1 && plugins+=(zoxide)
command -v fzf >/dev/null 2>&1 && plugins+=(fzf)

# alias batcat to bat on non mac-os
if command -v batcat >/dev/null 2>&1; then
  alias bat="batcat"
fi

# add snap to path if applicable
if command -v snap >/dev/null 2>&1; then
  export PATH="/snap/bin:$PATH"
fi

export EDITOR=nvim

# uv shell completions
if command -v uv >/dev/null 2>&1; then
  eval "$(uv generate-shell-completion zsh)"
fi

# add python alias to uv
if command -v uv >/dev/null 2>&1; then
  alias python="uv run python"
  alias python3="uv run python"
fi

export PATH="$HOME/.atuin/bin:$PATH"

eval "$(atuin init zsh)"

# zoxide
eval "$(zoxide init zsh)"
