#!/usr/bin/env bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" -}}
mkdir -p "$HOME/Library/Application Support/Code/User"
ln -sf "$HOME/.config/Code/User/settings.json" \
  "$HOME/Library/Application Support/Code/User/settings.json"
ln -sf "$HOME/.config/Code/User/keybindings.json" \
  "$HOME/Library/Application Support/Code/User/keybindings.json"
{{- end }}

