{{ if eq .chezmoi.os "android" -}}
#!/data/data/com.termux/files/usr/bin/bash
{{ else -}}
#!/usr/bin/env bash
{{ end -}}
set -euo pipefail

SOURCE_DIR="{{ .chezmoi.sourceDir }}"

# get is_raspberry_pi from source/lib.sh
source "$SOURCE_DIR/scripts/lib.sh"

if [[ "{{ .chezmoi.os }}" == "darwin" ]]; then
  brew bundle --file "$SOURCE_DIR/Brewfile"

elif [[ "{{ .chezmoi.os }}" == "android" ]]; then
  if command -v pkg >/dev/null 2>&1 || [[ "${PREFIX:-}" == *"com.termux"* ]]; then
    pkg update -y
    xargs -a "$SOURCE_DIR/packages/termux.txt" pkg install -y

elif [[ "{{ .chezmoi.os }}" == "linux" ]]; then
  if is_raspberry_pi; then
    sudo apt-get update
    xargs -a "$SOURCE_DIR/packages/raspberrypi.txt" sudo apt-get install -y

  elif grep -qi '^ID=steamos' /etc/os-release 2>/dev/null; then
    if command -v brew >/dev/null 2>&1; then
      brew bundle --file "$SOURCE_DIR/Brewfile.linux"
    else
      echo "Homebrew not found on SteamOS"
    fi

  elif command -v apt-get >/dev/null 2>&1; then
    sudo apt update
    xargs -a "$SOURCE_DIR/packages/apt.txt" sudo apt install -y

  else
    echo "No supported package manager found"
  fi
fi

# should not hit the curl condition as we have installed ruff via pkg
if ! command -v uv >/dev/null 2>&1; then
  curl -LsSf https://astral.sh/uv/install.sh | sh
fi

# use full path to uv in case PATH not yet updated in this session
UV="$HOME/.local/bin/uv"
if [[ -f "$UV" ]]; then
  "$UV" tool install ruff
  "$UV" tool install basedpyright
  "$UV" python install 3.14
  "$UV" python pin 3.14
fi
